.contact-form label {
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #b30b0b;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .contact-wrapper {
    display: flex;
    gap: 50px;
    margin-top: 5px;
    align-items: flex-start;
    flex-wrap: wrap; /* mobile responsive */
  }
  
  .contact-form {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .contact-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    height: 20.5rem;
    width:27rem;
  }